{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1> Add Patient Demographics</h1>
</div>

<form action="" method="post" class="form-container">

  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>

<label for="sex">Sex:</label>
<select id="s" name="sex">
<option value="female">Female</option>
<option value="male">Male</option>
<option value="x">X</option>
</select>
<button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
